
<div class="container user-form">
  <h1>Register</h1>
  <form>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Verify Password">
  </form>
  <a class="btn btn-default btn-primary btn-block" href="#/user/:uid" role="button">Register</a>
  <a class="btn btn-default btn-danger btn-block" href="#/login" role="button">Cancel</a>
</div>
