input.form-control {
  margin: 5px 0;
}

body {
  padding-top: 70px;
}

h3.nav-header {
  display: inline-block;
}

a.nav-icon {
  margin-top: 25px;
  float: right;
}

ul {
  list-style-type: none;
}

a.list-icon {
  float: right;
}

a.footer-nav-right-icon {
  margin-top: 20px;
  float: right;
}