
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="glyphicon glyphicon-menu-left nav-back-icon" aria-hidden="true" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"></a>
    <h3 class="nav-header">Widgets</h3>
    <a class="glyphicon glyphicon-plus nav-icon" aria-hidden="true" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"></a>
  </div>
</nav>
<div class="container-fluid">
  <div class="widget-list" wbdv-sortable="">
    <div ng-repeat="widget in model.widgets">
        <div class="config-toolbar">
          <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="handle glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
          <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/templates/display/widget-heading.view.client.html'"></ng-include>
          </div>
          <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/display/widget-image.view.client.html'"></ng-include>
          </div>
          <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <ng-include src="'views/widget/templates/display/widget-youtube.view.client.html'"></ng-include>
          </div>
          <div ng-switch-when="HTML">
            <ng-include src="'views/widget/templates/display/widget-html.view.client.html'"></ng-include>
          </div>
          <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/templates/display/widget-text.view.client.html'"></ng-include>
          </div>
        </div>
      </div>
   </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="glyphicon glyphicon-user footer-nav-right-icon" aria-hidden="true" href="#/user/{{model.userId}}"></a>
  </div>
</nav>
