
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="glyphicon glyphicon-menu-left nav-back-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid/widget"></a>
      <h3 class="nav-header">Widget Edit</h3>
      <a class="glyphicon glyphicon-ok nav-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid/widget"></a>
    </div>
  </nav>
  <div>
    <form>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Text</label>
        <input class="form-control" type="text" placeholder="Text" value="T.O.A.S.T.E.R">
      </div>
      <div class="form-group">
        <label>URL</label>
        <input class="form-control" type="text" id="url" placeholder="URL" value="http://static2.jetpens.com/images/a/000/000/244.jpg?mark64=aHR0cDovL3d3dy5qZXRwZW5zLmNvbS9pbWFnZXMvYXNzZXRzL3dhdGVybWFyay5wbmc&markalign64=dG9wLHJpZ2h0&markscale=19&s=f713264959d1b158cc7b0fc41daf25ba">
      </div>
      <div class="form-group">
        <label>Width</label>
        <input class="form-control" type="text" placeholder="100%" value="100%">
      </div>
      <div class="form-group">
        <label>File input</label>
        <input class="file-picker" type="file">
      </div>
    </form>
    <a class="btn btn-default btn-primary btn-block" href="#/user/:uid/website/:wid/page/:pid/widget" role="button">Upload Image</a>
    <a class="btn btn-default btn-danger btn-block" href="#/user/:uid/website/:wid/page/:pid/widget" role="button">Delete</a>

  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="glyphicon glyphicon-user footer-nav-right-icon" aria-hidden="true" href="#/user/:uid"></a>
  </div>
</nav>
