
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="glyphicon glyphicon-menu-left nav-back-icon" aria-hidden="true" href="#/user/:uid/website"></a>
    <h3 class="nav-header">Pages</h3>
    <a class="glyphicon glyphicon-plus nav-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/new"></a>
  </div>
</nav>
<div class="container user-form">
  <ul>
    <li>
      <a href="#/user/:uid/website/:wid/page/:pid/widget">Kite Surf Paluza</a>
      <a class="glyphicon glyphicon-cog list-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid"></a>
    </li>
    <li>
      <a href="#/user/:uid/website/:wid/page/:pid/widget">Real Kite Surfers Wear Pink Monthly</a>
      <a class="glyphicon glyphicon-cog list-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid"></a>
    </li>
    <li>
      <a href="#/user/:uid/website/:wid/page/:pid/widget">Kite Surfing Vs Kiteboarding? where will the bloodshed end?</a>
      <a class="glyphicon glyphicon-cog list-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid"></a>
    </li>
    <li>
      <a href="#/user/:uid/website/:wid/page/:pid/widget">Kite and Stuff</a>
      <a class="glyphicon glyphicon-cog list-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page/:pid"></a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="glyphicon glyphicon-user footer-nav-right-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page"></a>
  </div>
</nav>
