
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a class="glyphicon glyphicon-menu-left nav-back-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page"></a>
      <h3 class="nav-header">New Page</h3>
      <a class="glyphicon glyphicon-ok nav-icon" aria-hidden="true" href="#/user/:uid/website/:wid/page"></a>
    </div>
  </nav>
  <div>
    <form>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Page Title</label>
        <input class="form-control" type="text" placeholder="Page Title">
      </div>
    </form>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="glyphicon glyphicon-user footer-nav-right-icon" aria-hidden="true" href="#/user/:uid"></a>
  </div>
</nav>
